/.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/app/app.iml
/app/build.gradle
/app/proguard-rules.pro
/gradle
/build.gradle
/gradle.properties
/gradlew
/gradlew.bat
/settings.gradle
/SimpleCalculator.iml
